* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 920px;
    margin: 0 auto;
    padding: 0.5rem;
}

header {
    background-color: #255EE9;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #255EE9;

}

nav {
    background-color: #255EE9;
}


.bg-patt {
    background-image: url(jumbo.png);
}

.container-small {
    width: 920px;
    height: 600px;
    text-align: center;
    color: white;
    padding: 1rem;
}

section {
    padding: 40px 0;

}
.sec1{
   margin-top: 4rem ;
   margin-bottom: 1rem;
   font-weight: 700;
   
 
}

.link-container ul {
    color: white;
    display: flex;
    column-gap: 2rem;
    list-style: none;
    height: 100%;

}
.login-container button{
    background-color: white;
    border-radius: 10px;
    color: black;
    border-style: none;
    padding: 0.5rem;
    font-weight: bolder;
}
.hd-button{
    text-align: center;
    padding-top: 2rem;

}
.hd-button .bt-1{
background-color: white;
color: black;
border-style: none;
border-radius: 10px;
padding: 0.7rem 1rem;
}
.hd-button .bt-2{
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 0.7rem 1rem;
    }
.bg-grey {
    background-color: rgb(216, 216, 216);
}

.row {
    display: flex;
    border: 1px solid greenyellow;
}

.col {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid green;
}

.col-2-1 {
    flex-basis: 50%;
    background-color: cornflowerblue;
    height: 300px;

}

.col2-1 {

    background-color: cornflowerblue;
    height: 300px;

}

.col-2-2 {

    background-color: rgb(228, 115, 134);
    height: 300px;
}

.bg-gr {
    background-color: green;
    height: 300px;
}

.bg-bl {

    background-color: rgb(68, 68, 68);
}

.col-str {
    display: flex;
    align-items: stretch;
    height: 300px;
    flex-grow: 1;

}

footer {
    background-color: aquamarine;
    height: 100px;
}