* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #23272A;
}

.container {
    width: 920px;
    margin: 0 auto;
    padding: 0.5rem;
}

header {
    background-color: #255EE9;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #255EE9;

}

nav {
    background-color: #255EE9;
}


.bg-patt {
    background-image: url(jumbo.png);
    background-size: cover;


}

.container-small {
    width: 920px;
    text-align: center;
    color: white;
    padding: 1rem;
}

section {
    padding: 40px 0;

}

.sec1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.625;
    font-weight: 700;
}

.par1 {
    margin-top: 2rem;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.625;
}

h2 {
    font-weight: 700;
    line-height: 120%;
}

.link-container ul {
    color: white;
    display: flex;
    column-gap: 2rem;
    list-style: none;
    height: 100%;

}

.login-container button {
    background-color: white;
    border-radius: 16px;
    color: #23272A;
    border-style: none;
    padding: 0.5rem;
    font-weight: bolder;
}

.hd-button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin: auto;
}

.hd-button .bt-1 {
    display: flex;
    align-items: center;
    background-color: white;
    color: #23272A;
    border-style: none;
    border-radius: 16px;
    padding: 0.5rem 1rem;

}

.hd-button .bt-2 {
    display: flex;
    align-items: center;
    background-color: #23272A;
    color: white;
    text-align: center;
    border-style: none;
    border-radius: 16px;
    padding: 0.5rem 1rem;

}

.bg-grey {
    background-color: #F6F6F6;
}

.row {
    display: flex;

}

.col {
    flex-grow: 1;
    padding: 10px;
}

.col-2-1 {
    flex-basis: 40%;
    height: 400px;
}

.col2-1 {
    height: 300px;
}

.h1-cent {
    text-align: center;
}

.bg-bl {
    background-color: #23272A;
}

.bg-star {
    background-image: url(stars.svg);
}

.bt-3 {
    display: flex;
    align-items: center;
    background-color: #7289DA;
    color: white;
    border-style: none;
    border-radius: 16px;
    padding: 0.5rem 1rem;
}

.col-str {
    display: flex;
    align-items: stretch;
    height: 300px;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.ftr-h1 {
    color: #7289DA;
    text-align: left;
}

.ftr-spec {
    color: white;

}

.clr-ftr {
    color: #4C65D2;
}

.ita-ftr {
    height: 15px;
    margin-top: 1rem;
}

.col-str {
    display: flex;
    align-items: stretch;
    height: 300px;
    flex-grow: 1;

}

.icons {
    margin-top: 1rem;
}

.icons2 {
    margin-right: 1rem;
}

.ftr-container ul {

    color: white;
    list-style: none;
    height: 100%;
}