* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 920px;
    margin: 0 auto;
    padding: 0.5rem;
}

header {
    background-color: #255EE9;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #255EE9;

}

nav {
    background-color: #255EE9;
}


.bg-patt {
    background-image: url(jumbo.png);

}

.container-small {
    width: 920px;
    height: 620px;
    text-align: center;
    color: white;
    padding: 1rem;
}

section {
    padding: 40px 0;

}

.sec1 {
    margin-top: 10rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.par1 {
    margin-top: 2rem;
}

.link-container ul {
    color: white;
    display: flex;
    column-gap: 2rem;
    list-style: none;
    height: 100%;

}

.login-container button {
    background-color: white;
    border-radius: 16px;
    color: black;
    border-style: none;
    padding: 0.5rem;
    font-weight: bolder;
}

.hd-button {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.hd-button .bt-1 {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border-style: none;
    border-radius: 16px;
    padding: 0.5rem 1rem;
}

.hd-button .bt-2 {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 16px;
    padding: 0.5rem 1rem;
}

.bg-grey {
    background-color: rgb(216, 216, 216);
}

.row {
    display: flex;
}

.col {
    flex-grow: 1;
    padding: 10px;
}

.col-2-1 {
    flex-basis: 40%;
    height: 400px;
}

.col2-1 {
    height: 300px;
}

.h1-cent {
    text-align: center;
}

.bg-bl {
    background-color: #23272A;
}

.bg-star {
    background-image: url(stars.svg);
}

.bt-3 {
    display: flex;
    align-items: center;
    background-color: #7289DA;
    color: white;
    border-style: none;
    border-radius: 16px;
    padding: 0.5rem 1rem;
}

.col-str {
    display: flex;
    align-items: stretch;
    height: 300px;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.ftr-h1 {
    color: #7289DA;
}

.ftr-spec {
    color: white;
}

.clr-ftr {
    color: #4C65D2;
}

.ita-ftr {
    height: 15px;
    margin-top: 1rem;
}

.ftr-container ul {
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
    height: 100%;


}